:root {
  --theme-background-color: #3aaab2;
  --theme-color: white;
}


html {
  	scroll-behavior: smooth;
}

.open {
	font-family: sans-serif;
}

.page-main {
	margin-left: 16rem;
    padding: 2rem 1rem;
	overflow-x: scroll;
	min-height: 100vh;
	
}
.page-sidebar {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}
.page-content {
	margin-top: 0.5rem;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.btn {
	text-transform: initial;
}

.font-size_small {
	font-size: 1em;
}
.font-size_medium {
	font-size: 1.5em;
}
.font-size_large {
	font-size: 2em;
}

.hidden  {
	display: none;
}

.disabled  {
	pointer-events: none;
	opacity: 0.5;
}
.disabled label, .disabled .Select-control {
	background-color: #dddddd;
}

.c-button {
	height: 38px;
    padding: 0 2rem;
    color: #555;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.c-button:hover, .Select .Select-control:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.c-button-tile {
	height: 7rem;
    width: 7rem;
    margin: 1rem;
}


.form .radio-items-inline label, .radio-items-inline label input{
	margin: 0.5em;
	padding: 0.5em;
}



.c-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}
.c-card.c-card-small {
  margin: 0.5rem;
  padding: 0.5rem;
} 
.c-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.c-card .card_label {
	font-size: 1.5rem;
}
.c-card.c-card-small .card_label {
    font-size: 1rem;
} 
.c-card .card_value {
	font-weight: bold;
    font-size: 3rem;
}
.c-card.c-card-small .card_value {
	font-weight: bold;
    font-size: 1.8rem;
} 
.c-card .card_value1, .c-card .card_value2 {
	width: 50%;
    display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
}
.c-card .card-detail .card_value,  .c-card .card-detail-2 .card_value {
    display: inline-block;	
	font-size: 1.5rem;
	font-weight: bold;
}
.c-card .card_value_label {
    font-size: 1rem;
	margin-right: 1rem;
    display: inline-block;
    font-weight: normal;
	color: black;
}

.c-container {
	font-size : initial;
}

.menu-modal-help {
	bottom: 2rem;
    position: fixed;	
}

.c-modal-large.modal-dialog {
	max-width: 70vw !important;
}
.c-modal-large .modal-header {
	align-items: center;
    flex-direction: column;
} 
.c-modal-large .modal-header h5{
	font-weight: bold;		
}
.c-modal-large .tab-content {
	margin: 1rem;
}
.c-modal-large i {
	border-radius: 50%;
    padding: 0.5rem;
	margin-right: 0.5rem;
}
.c-modal-large i {
	background-color: var(--theme-background-color) !important;
	color: var(--theme-color) ;
}
	

.c-table {
	font-size : 1.2em;
}
.c-table tr:nth-child(1)  {
	background-color: rgb(230, 230, 230);
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
}
.c-table tr:nth-child(1) .column-header-name {
	font-weight: bold;
}
.c-table .c-table-oddeven tr:nth-child(odd) {
	background: rgb(248, 248, 248);
}
.table-comparision td:nth-child(1) {  
  font-weight: bold;
}


.theme-app .navbar-main, 
.theme-app .selector-main-row {
	background-color: var(--theme-background-color) !important;
    font-size: initial;
	color: var(--theme-color) ;
}

.theme-app  .dropdown-main {
	color : black;
}

.theme-app .navbar-main {
	z-index : 5;
}

.theme-app h2 {
	margin-top: 2.5rem;
}

.theme-app h3 {
	margin-top: 2rem;
}
.theme-app .graph-small {
	padding: 2rem;
}
.theme-app  .c-card .card_value {
	color: var(--theme-background-color);
}
.theme-app .c-card .card_value1, .theme-app  .c-card .card_value2 {
	color: var(--theme-background-color);
}

.theme-app .highlight {
	color: var(--theme-color) ;
	background-color: var(--theme-background-color);
	border-color: var(--theme-background-color);
    font-weight: bold;
}
.theme-app .highlight:focus, 
.theme-app .btn-outline-primary:hover, 
.theme-app .btn-outline-primary:active,
.theme-app .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: var(--theme-color) ;
	background-color: var(--theme-background-color);
	border-color: var(--theme-background-color);
    box-shadow: 0 0 4px 0.2rem lightgrey;
}

.theme-app .js-plotly-plot {
	min-height: 400px;
}


.theme-color-app {
	color : white;
	background-color: #3aaab2;
}
.theme-color-pink {
	color : white;
	background-color: pink;
}
.theme-color-cyan {
	color : white;
	background-color: #3aaab2;
}
.theme-color-dark {
	color : white;
	background-color: black;
}
.theme-color-teal {
	color : white;
	background-color: #009688;
}

@media only screen and (max-width: 80em) {
	.page-sidebar {
		overflow-y: scroll;
		width: 14rem;
		padding: 0.5rem 1rem;
	}
	.page-main {
		margin-left: 14rem;
	}
	.theme-app h2 {
		margin-top: 0;
	}
	.menu-modal-help {
		position: fixed;
		bottom: 0.5rem;
		left: 0.5rem;
	}
	.menu-modal-help-button {
		padding: 0.5em;
		border-radius: 50%;
		font-size: initial;
		border: none;
		height: auto;
		text-align: start;
		border-radius: 50%;
	}
	.menu-modal-help-button .menu-modal-help-button-text {
		display: none;
	}
	.menu-modal-help-button i {
		padding: 0;
	}
}

@media only screen and (max-width: 60em) {

}

@media only screen and (max-width: 45em) {
	.page-sidebar {
		width: 100%;
		position: initial;
	}
	.page-main {
		margin: 0;
		padding: 0;
	}
	.c-button-nav .c-button-nav-text {
		display: none;
	}
}




	

.width-100 {
	width: 100%;
}
.float-r {
	float: right;
}
.p_small {
	padding: 1rem;	
}
.p_medium {
	padding: 2rem;	
}
.p_large {
	padding: 3rem;	
}
.p-left_xx-large {
	padding-left: 100px;
}
.p-left_x-large {
	padding-left: 70px;
}
.p-left_large {
	padding-left: 50px;
}
.p-left_medium {
	padding-left: 30px;
}
.p-left_small {
	padding-left: 20px;
}
.p-left_xx-small {
	padding-left: 1rem;
}
.p-left_xxx-small {
	padding-left: 5px;
}
.p-right_large {
	padding-right: 3rem;
}
.p-right_medium {
	padding-right: 2rem;
}
.p-right_small {
	padding-right: 1.5rem;
}
.p-right_xx-small {
	padding-right: 1rem;
}
.p-top_small {
	padding-top: 1rem;
}
.p-top_medium {
	padding-top: 2rem;
}
.p-top_large {
	padding-top: 3rem;
}
.p-top_x-large {
	padding-top: 4rem;
}
.p-top_xx-large {
	padding-top: 5rem;
}
.p-bottom_small {
	padding-bottom: 1rem;
}
.p-bottom_medium {
	padding-bottom: 2rem;
}
.p-bottom_large {
	padding-bottom: 3rem;
}
.p-bottom_15 {
	padding-bottom: 15rem;
}

.m_x-small {
	margin: 0.5rem;	
}
.m_small {
	margin: 1rem;	
}
.m_medium {
	margin: 2rem;	
}
.m_large {
	margin: 3rem;	
}
.m-bottom_x-small {
	margin-bottom: 0.5rem;
}
.m-bottom_x-medium {
	margin-bottom: 2.5rem;
}
.m-bottom_x-large {
	margin-bottom: 5rem;
}
.m-bottom_small {
	margin-bottom: 1rem;
}
.m-bottom_medium {
	margin-bottom: 2rem;
}
.m-bottom_large {
	margin-bottom: 3rem;
}
.m-top_small {
	margin-top: 1rem;
}
.m-top_medium {
	margin-top: 2rem;
}
.m-top_large {
	margin-top: 3rem;
}
.m-right-small {
	margin-right: 1rem;
}
.m-right-medium {
	margin-right: 2rem;
}
.m-right-large {
	margin-right: 3rem;
}
.m-left-small {
	margin-left: 1rem;
}
.m-left-medium {
	margin-left: 2rem;
}
.m-left-large {
	margin-left: 3rem;
}

@media only screen and (max-width: 80em) {

	.p_small {
		padding: 0.5rem;	
	}
	.p_medium {
		padding: 1rem;	
	}
	.p_large {
		padding: 2rem;	
	}
	.p-left_xx-large {
		padding-left: 4rem;
	}
	.p-left_x-large {
		padding-left: 3rem;
	}
	.p-left_small {
		padding-left: 0.5rem;
	}
	.p-left_medium {
		padding-left: 1rem;
	}
	.p-left_large {
		padding-left: 2rem;
	}
	.p-left_xx-small {
		padding-left: 0.1rem;
	}
	.p-left_xxx-small {
		padding-left: 2px;
	}
	.p-right_small {
		padding-right: 0.5rem;
	}
	.p-right_medium {
		padding-right: 1rem;
	}
	.p-right_large {
		padding-right: 2rem;
	}
	.p-right_xx-small {
		padding-right: 0.1rem;
	}
	.p-top_small {
		padding-top: 0.5rem;
	}
	.p-top_medium {
		padding-top: 1rem;
	}
	.p-top_large {
		padding-top: 2rem;
	}
	.p-top_x-large {
		padding-top: 3rem;
	}
	.p-top_xx-large {
		padding-top: 4rem;
	}
	.p-bottom_small {
		padding-bottom: 0.5rem;
	}
	.p-bottom_medium {
		padding-bottom: 1rem;
	}
	.p-bottom_large {
		padding-bottom: 2rem;
	}

	.m_x-small {
		margin: 0.25rem;	
	}
	.m_small {
		margin: 0.5rem;;	
	}
	.m_medium {
		margin: 1rem;	
	}
	.m_large {
		margin: 1.5rem;	
	}
	.m-right-small {
		margin-right: 0.5rem;
	}
	.m-right-medium {
		margin-right: 1rem;
	}
	.m-right-large {
		margin-right: 1.5rem;
	}
	.m-left-small {
		margin-left: 0.5rem;
	}
	.m-left-medium {
		margin-left: 1rem;
	}
	.m-left-large {
		margin-left: 1.5rem;
	}
}

@media only screen and (max-width: 60em) {
	.m_x-small {
		margin: 0.1rem;	
	}
	.m_small {
		margin: 0.25rem;	
	}
	.m_medium {
		margin: 0.5rem;	
	}
	.m_large {
		margin: 1rem;	
	}
	.m-top_small {
		margin-top: 0.25rem;	
	}
	.m-top_medium {
		margin-top: 0.5rem;
	}
	.m-top_large {
		margin-bottom: 1rem;
	}
	.m-bottom_x-small {
		margin-bottom: 0.1rem;	
	}
	.m-bottom_small {
		margin-bottom: 0.25rem;	
	}
	.m-bottom_medium {
		margin-bottom: 0.5rem;
	}
	.m-bottom_large {
		margin-bottom: 1rem;
	}
}